h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 42px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 44px;
    margin: 55px 363px 11px 360px;
}

h2 {
    margin: 55px 363px 11px 360px;
    font-size: 34px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 39px;
}

body img {
    margin-left: 362px;
    margin-right: 361px;
}

p {
    margin-left: 362px;
    margin-right: 361px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
}

.first_example {
    margin-top: 43px;
    margin-bottom: 38px;
}

.second_example {
    margin-top: 44px;
    margin-bottom: 37px;
}

code {
    font-family: "Courier New", monospace;
    background: rgba(205, 214, 219, 0.3);
}

header img {
    margin-left: 38px;
    margin-top: 10px;
    margin-right: 1289px;
}

nav {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    font-family: LucidaGrande, serif;
    font-size: 24px;
    color: #333333;
    text-align: left;
    line-height: 36px;
}

.select {
    color: red;
}

nav ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 800px) {
    nav ul li {
        display: block;
        margin-top: 30px;
    }

    p, h2, h1 {
        margin-left: 30px;
        margin-right: 30px;
    }

    .first_example, .second_example {
        margin-left: 5px;
        max-width: 100%;
    }
}